html,
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

html,
input,
button,
textarea,
select {
  font-size: 20px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 300;
  letter-spacing: -0.01rem;
  text-decoration: none;
  line-height: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  width: 80%;
  max-width: 900px;
  margin: 2rem auto;
}

a {
  text-decoration: none;
  position: relative;
  color: #007f6e;
  border-bottom: 1px solid #007f6e;
  padding-bottom: 2px;
}

a:visited {
  color: #007f6e;
}

a:hover {
  color: #006a5d;
  border-bottom: 1px solid #006a5d;
}

a:focus {
  outline: #007f6e auto 1px;
  border-bottom: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > * {
  margin-right: 0.6rem;
}

nav > a:last-child {
  margin-right: 0;
}

a.logo {
  color :black;
  font-size: 4rem;
  user-select: none;
  line-height: 1;
  border-bottom: none;
  padding-bottom: 0;
}

a.logo:hover {
  color: #f2c311;
}

header,
section,
footer {
  margin-top: 2rem;
}

header {
  display: flex;
  align-items: center;
}

header section {
  margin-top: 0;
  flex: 2 1;
  margin-right: 0.6rem;
}

header aside img {
  margin-bottom: 0;
}

h1,
h2,
h3 {
  margin-bottom: 0.6rem;
  letter-spacing: -0.06rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.2rem;
}

p {
  margin-bottom: 0.6rem;
}

::selection {
  background-color: #f2c311;
}

button,
input,
textarea,
select {
  border: 2px solid #007f6e;
  width: -webkit-fill-available;
  padding: 1.2rem;
  margin: 0.6rem 0;
}

button {
  background-color: #007f6e;
  color: white;
}

button:focus,
input:focus,
textarea:focus,
select:focus {
  border: 2px solid #f2c311;
  outline: none;
}

button:focus {
  background-color: #f2c311;
  color: black;
}

ul {
  margin-top: 0;
  margin-bottom: 0.6rem;
  padding: 0;
  list-style-type: none;
}

ul li {
  position: relative;
  margin-bottom: 0.3rem;
  margin-left: 0.6rem;
  padding-left: 1.2rem;
}

ul li:last-of-type {
  margin-bottom: 0;
}

ul li:before {
  content: "\2022";
  position: absolute;
  left: 0;
  font-size: 0.6rem;
  line-height: 2.1;
}

ul li > strong {
  margin-right: 0.6rem;
}

img {
  border-radius: 50%;
  margin-bottom: 0.6rem;
}

blockquote {
  margin-block-start: 0.6rem;
  margin-block-end: 0.6rem;
  margin-inline-start: 0;
  margin-inline-end: 0.6rem;
  padding: 0.6rem;
  border-left: 0.6rem solid #007f6e;
}

blockquote p:last-of-type {
  margin-bottom: 0;
}

.responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 0.6rem;
}

.responsive-embed iframe,
.responsive-embed object,
.responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

footer>* {
  display: inline-block;
  margin-right: 0.6rem;
  margin-bottom: 0.6rem;
}
