html {
  font-size: 20px;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  max-width: 900px;
  padding: 6%;
}

a {
  color: #007f6e;
}

a:visited {
  color: #007f6e;
}

a:hover {
  color: #006a5d;
}

a:focus {
  outline: #007f6e auto 1px;
}

h1,
h2 {
  margin-bottom: 0.6rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.4rem;
}

p {
  margin-bottom: 0.6rem;
}

::selection {
  background-color: #f2c311;
}

ul {
  padding-left: 1.2rem;
}
