:root {
  --color__green: #007f6e;
  --color__mid-green: #006a5d;
  --color__yellow: #f2c311;
}

html {
  margin: 0;
  padding: 0;
}

body {
  width: 88%;
  max-width: 900px;
  padding: 6%;
  margin: 0;
  background-color: white;
  font-size: 20px;
  font-family: Arial, sans-serif;
  color: #01110f;
  line-height: 1.5;
}

@media screen and (min-width: 420px) {
  body {
    width: 80%;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #011513;
    color: white;
  }
}

::selection {
  background-color: var(--color__yellow);
}

a:link {
  color: var(--color__green);
  text-decoration: underline var(--color__green) 0.1rem;
  text-underline-offset: 0.1rem;
}

a:visited {
  color: var(--color__green);
}

a:hover {
  color: var(--color__mid-green);
  text-decoration: underline var(--color__mid-green) 0.1rem;
}

a:active {
  color: var(--color__mid-green);
  text-decoration: underline var(--color__mid-green) 0.1rem;
}

a:focus {
  outline: var(--color__green) auto 1px;
}

h1,
h2,
p {
  margin: 0.6rem 0;
}

h1 {
  font-size: 2.4rem;
  text-decoration: underline var(--color__yellow) 0.2rem;
  text-underline-offset: 0.2rem;
}

h1:first-of-type {
  margin-top: 0;
}

h2 {
  font-size: 1.2rem;
}
